.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 16px;
  box-sizing: border-box;
}
.outter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 0px 10vw;
  box-sizing: border-box;
}
img {
  width: 70%;
  margin: 16px;
}
h1 {
  font-size: 1.5em;
  margin: 0px;
  line-height: 1.4;
}
span {
  background-color: #fef5d4;
  padding: 5px 10px;
  border-radius: 30px;
  border: #dadafc;
}
input {
  padding: 10px;
  margin: 24px 0px;
  border: 1px solid #dadafc;
  border-radius: 30px;
  width: 100%;
  background-color: #dadafc55;
}
button {
  padding: 8px 24px;
  background-color: #dadafc;
  border: #dadafc;
  border-radius: 30px;
}